footer 
	div(style="float:right;width:100px;height:80px;background:url(/images/logo_bogota.png);margin-right:30px;margin-top:10px;")
	div(style="float:right;width:80px;height:80px;background:url(/images/logo_ciclovia.png);margin-right:30px;margin-top:10px;")
	div(style="float:right;width:80px;height:80px;background:url(/images/logo_zona_sana.png);margin-right:30px;margin-top:10px;")