doctype 5
html
  meta(charset="utf-8")
  head
    title Muévete - Dashboard
    link(rel='stylesheet', href='/stylesheets/styleadmin.css')
    link(rel='stylesheet', href='/stylesheets/aristo/Aristo.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
  body
    block content