mixin header_seccion(image_url, title, bold_title, content)
	.section_icon_wrapper
		.section_icon(style="background:url(#{image_url})")
	.section_title_wrapper 
		.section_title #{title}
			span.bold #{bold_title}
	.section_content #{content}
		block